body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-size: x-large;
}

.imagem-tela-cheia {
    width: 99vw;
    height: 99vh;
}

.latas-de-lixo {
    width: 250px;
    height: auto;
}

.cardapio-icon {
    width: 25px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

header {
    margin: 0;
    padding: 0px 25px;
    /* Ajuste os valores de preenchimento conforme necessário  */
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 19px;
    /* Ajuste a margem conforme necessário  */
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #ff0000;
}

.latas-de-lixo {
    width: 250px;
    height: auto;
    margin-left: 43%;
}

.texto-inicial {
    position: absolute;
    top: calc(110% + 35px);/* Ajuste o valor para posicionar o texto abaixo da imagem */
    transform: translateX(-50%);
    left: 50%;
    text-align: justify;

}

button{
    border-radius: 8px;
    background-color: black;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    margin-top:50px;
}

.coleta-seletiva-img {
    width: 95%;
    height: auto;
}


/* MENU DE NAVEGACAO */
#secoes {
    display: none;
    position: absolute;
    top: 30px;
    /* Ajuste a posição vertical conforme necessário */
    left: 0;
    background-color: #f0f0f0;
    padding: 10px;
}

#secoes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#secoes ul li {
    margin-bottom: 5px;
}

#secoes ul li a {
    color: #333;
    text-decoration: none;
}

#icone {
    position: relative;
    display: inline-block;
}

#icone img {
    width: 50px;
    /* Ajuste o tamanho do ícone conforme necessário */
    height: 50px;
}

/* LIXEIRAS */
.lixeiras {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 400px;
}

.lixeiras img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.texto-lixeiras {
    position: absolute;
    top: calc(20% + 20px);
    /* Ajuste o valor para posicionar o texto abaixo da imagem */
    left: 50%;
    transform: translateX(-50%);
    text-align: justify;
}

.botao {
    margin-top: 30%;
    /* Espaçamento entre o texto e o botão */
    margin-left: 45%
}

/* APLICATIVO */
.aplicativo {
    position: relative;
    width: 100%;
    height: 100vh;
}

.aplicativo img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.texto-aplicativo {
    position: absolute;
    top: calc(35% + 35px);
    /* Ajuste o valor para posicionar o texto abaixo da imagem */
    left: 50%;
    transform: translateX(-50%);
    text-align: justify;
}

.botao-app {
    margin-top: 37%;
    /* Espaçamento entre o texto e o botão */
    margin-left: 45%
}

/* COLETA SELETIVA */
.texto-coleta-seletiva {
    position: absolute;
    top: calc(450% + 35px);/* Ajuste o valor para posicionar o texto abaixo da imagem */
    transform: translateX(-50%);
    left: 50%;
    text-align: justify;

}

.botao-coleta{
    margin-top: 18%;/* Espaçamento entre o texto e o botão */
    margin-left: 45%

}

/* CARDS DE FEEDBACK */

.container{
   margin-top: 300px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .card {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    margin-top: 0;
  } 
  
  p {
    margin-bottom: 0;
  }
  
  /* SOBRE NOS */
.sobre-nos{
    margin-top: 200px;
    position: absolute;
    top: calc(570% + 35px);/* Ajuste o valor para posicionar o texto abaixo da imagem */
    transform: translateX(-50%);
    left: 50%;
    text-align: justify;

}
  footer{
    position: absolute;
    bottom: -6000px;
    width: 100%;
    height: 70px; /* Altura do footer */
    background-color: #00a2ff;
    text-align: center;

    
}


